/* icon */
#wp-admin-bar-paid-memberships-pro .ab-item .ab-icon:before {
    font-family: "dashicons";
    content: "\f307";
}
.pmpro_admin tr td .dashicons {padding-top: 5px; }

/* header/etc */
.pmpro_admin {background: url(../images/Paid-Memberships-Pro_watermark.png) bottom right no-repeat !important; padding: 1em 0 70px 0; }

.pmpro_admin .pmpro_banner h2 {float: left; }
.pmpro_admin .pmpro_banner .pmpro_meta {float: left; margin: 26px 0 0 0; font-size: 12px; }
.pmpro_admin .pmpro_banner .pmpro_meta .pmpro_tag-blue {margin: 0 0 0 5px; }
.pmpro_admin .pmpro_banner .pmpro_logo {float: left; margin: 0 1em 0 0; width: 350px; height: 75px; } 
.pmpro_admin .pmpro_banner ul.pmpro_menu {clear: both; border: 1px solid #CCC; border-radius: 5px; -moz-border-radius: 5px; background: #FFF; }
.pmpro_admin .pmpro_banner ul.pmpro_menu li {display: inline-block; margin: 10px 0; padding: 0px 10px; border-right: 1px solid #CCC; }
.pmpro_admin .pmpro_banner ul.pmpro_menu li a, .pmpro_admin .pmpro_banner ul.pmpro_menu li a:link {color: #1e0741; text-decoration: none; }
.pmpro_admin .pmpro_banner ul.pmpro_menu li a:hover {text-decoration: underline; color: #412f5b; }

.pmpro_admin .pmpro_tag-grey {display: inline-block; font-size: 11px; font-weight: bold; position: relative; padding: 2px 5px; border: 1px solid #CCC; background: whiteSmoke; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.pmpro_admin .pmpro_tag-blue {display: inline-block; font-size: 11px; font-weight: bold; position: relative; padding: 2px 5px; border: 1px solid #2997c8; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background: #2997c8; color: #FFF; text-decoration: none; }
.pmpro_admin a.pmpro_tag-blue:hover {background: #77a02e; border: 1px solid #77a02e; }

.pmpro_admin .topborder {border-top: 1px solid #CCC; margin-top: 1em; padding-top: 1em; }
.pmpro_admin #editorcontainer #description {width: 100%; height: 180px; }
.pmpro_admin .widefat {margin-top: 1em; }

/* checkboxes */
.checkbox_box {width: 300px; background: #FFFFFF; border: 1px solid #CCC;}
.checkbox_box div {border-bottom: 1px solid #CCC; padding: 3px;}
.checkbox_box .clickable {cursor: pointer;}
.checkbox_box .clickable:hover {background: #FFC;}

/* levels */
tr.pmpro_gray td {color: #AAA;}
tr td.level_name a {font-size: 115%; font-weight: bold; }
.membership-levels tr {background: #fff;}
.membership-levels tr.alternate {background: #f9f9f9;}
.membership-levels tr.ui-sortable-helper {border: 1px solid #2997C8;}
tr.testclass {border: 3px solid #2997C8; background: #2997C8;}

/* settings */
tr.pmpro_settings_divider td {padding: 5px; margin: 0; color: #555; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC;}
tr.pmpro_settings_divider td:before {content: "- ";}
tr.pmpro_settings_divider td:after {content: " -";}

/* messages */
.pmpro_message {background-color: #D5E4F7; background-image: url(../images/icon_information.gif); background-position: 3px 5px; background-repeat: no-repeat; margin: .5em 0; padding: 6px 6px 6px 25px; color: #345395; font-size: 11px; font-weight: bold; line-height: 1.3em; }

.pmpro_success {background-color: #CFEECA; background-image: url(../images/icon_success.gif); color: #208A1B; }
.pmpro_error {background-color: #F9D6CB; background-image: url(../images/icon_error.gif); color: #E36154; }
.pmpro_alert {background-color: #FFF6CC; background-image: url(../images/icon_alert.gif); color: #CF8516; }

.pmpro_message a {color: #345395; }
.pmpro_success a {color: #208A1B; }
.pmpro_error a {color: #E36154; }
.pmpro_alert a {color: #CF8516; }

/* highlighted trs */
tr.pmpro_message {background-image: none;}
tr.pmpro_success {background-image: none;}
tr.pmpro_error {background-image: none;}
tr.pmpro_alert {background-image: none;}

/* discount levels */
.pmpro_discount_levels {border: 1px solid #CCC;}
.pmpro_discount_levels div {padding: 5px; border: 1px solid #CCC;}
.pmpro_discount_levels div div {margin-top: 5px; background: #F5F5F5;}

/* pagination */
div.pmpro_pagination {padding: 3px; margin: 5px 0px 5px 0px; font-size: 10px; float: right; }
div.pmpro_pagination a {padding: 2px 5px 2px 5px; margin: 1px; border: 1px solid #666; text-decoration: none; /* no underline */ color: #666; background: #EEE; }
div.pmpro_pagination a:hover, div.pmpro_pagination a:active {background: #FFF; }
div.pmpro_pagination span.current {border: 1px solid #FFF; color: #FFF; background: #666; padding: 2px 5px 2px 5px; margin: 1px; font-weight: bold; }
div.pmpro_pagination span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #BBB; color: #BBB; background: #EFEFEF;}

p.pmpro_meta_notice {font-size: .8em; padding-top: 5px; border-top: 1px solid #CCC;}

/* add ons */
.pmpro_admin .widgets-holder-wrap {clear: both; margin-top: 20px; padding: 0 8px; }
.pmpro_admin .widgets-holder-wrap .widget {float: left; width: 32%; margin: 0 1% 1% 0; position: relative; }
.pmpro_admin .widgets-holder-wrap p.description {padding: 0; }
.pmpro_admin .widgets-holder-wrap .widget-top {height: auto; cursor: default; }
.pmpro_admin .widgets-holder-wrap .widget-inside {display: block; height: 130px; overflow: hidden; }
.pmpro_admin .widgets-holder-wrap .widget-inside p {height: 80px; overflow: hidden; }
.pmpro_admin #pmpro-gists.widgets-holder-wrap .widget-inside, .pmpro_admin #pmpro-gists.widgets-holder-wrap .widget-inside p {height: auto; }
.pmpro_admin .widgets-holder-wrap .widget-title { }
.pmpro_admin .widgets-holder-wrap .widget-title h4 { }
.pmpro_admin .widgets-holder-wrap .widget-title .status-label {display: block; float: left; margin: 0 5px 0 0; width: 10px;
height: 10px; overflow: hidden; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #DFDFDF; text-indent: -9999em; }
.pmpro_admin .widgets-holder-wrap .disabled .widget-title .status-label {background: #F00; }
.pmpro_admin .widgets-holder-wrap .enabled .widget-title .status-label {background: #0C0; }

.pmpro_admin .widgets-holder-wrap .widget-title .version {position: absolute; top: 13px; right: 10px; }
.pmpro_admin .widgets-holder-wrap .widget-inside .addon-thumb {width: 100px; height: 100px; float: right; margin: 10px 0 0 10px; border: 1px solid #DFDFDF; background: #FFF; padding: 2px;}

/*@media (min-width: 1200px) {
	.auto-fold .pmpro_admin .widgets-holder-wrap .widget-inside, .auto-fold .pmpro_admin .widgets-holder-wrap .widget-inside p {height: auto; }
}
*/
@media (max-width:900px) {
	.auto-fold .pmpro_admin .widgets-holder-wrap .widget {float: none; width: 100%; }
	.auto-fold .pmpro_admin .widgets-holder-wrap .widget-inside, .auto-fold .pmpro_admin .widgets-holder-wrap .widget-inside p {height: auto; }
}

/* misc */
.pmpro_lite {color: #AAA;}
.pmpro_pad20 {padding: 20px !important;}
.pmpro_red {color: #CC0000;}
.pmpro_green {color: #00AA00;}
.ssp_description #description {width: 100%;}
.top0em {margin-top: 0;}
h2.nav-tab-wrapper {margin-bottom: 1em; }

/* reports */
.pmpro_reports-holder { }
.pmpro_clickable {cursor: pointer;}
.js .postbox.pmpro_clickable h3 {cursor: pointer;}