	.dialog-box {
		border: 1rem solid lightgray;
		background-color: #fff;
		color: #444;
		width: 100%;
	    position: absolute;
	    left: 25%;
	    z-index: 33;
	    bottom: 4%;
	    display: none;
	}

	.box {
		color: #fff;
		border-radius: 5px;
		padding: .2rem 1rem;
		font-size: 90%;

	}

	.box .box {
		color: #444;
	}
	.d{
		display: grid;
		grid-gap: .3rem;
		grid-template-columns: 5fr 3fr;
	}
	.top.box.e {
		color: red;
	}
	.e {
		text-align: center;
		grid-column: 1 / 3;
	}

	.f {
		grid-column: 1;
		grid-row: 2;
	}

	.g {
		grid-column: 2;
		grid-row: 2;
	}  
#small-x-close {
	float: right;
	background: gray;
	padding: 1px 11px;
	border-radius: 50%;
	color: white;
	}  
#small-x-close:hover {
	cursor: pointer;
}

#close-button {
	text-align: center;
}
@-webkit-keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	-webkit-animation: fadeIn .5s ease-in 1 forwards;
	animation: fadeIn .5s ease-in 1 forwards;
	opacity: 0;
}
