/*---------------------------------------
	Buttons
---------------------------------------*/
.pmpro_btn {display: inline-block; margin: 0; cursor: pointer; }
.pmpro_btn:hover { }

/*---------------------------------------
	Forms
---------------------------------------*/
form.pmpro_form div {clear: left; margin: .5em 0 1em 0;  }
form.pmpro_form label {float: left; margin: 3px 10px 0 0; width: 120px; font-weight: bold; text-align: right; }
/*form.pmpro_form div div {width: 380px; margin-left: 130px; clear: none;}*/
form.pmpro_form .likelabel {font-weight: bold; }
form.pmpro_form .input, form.pmpro_form textarea, .input {padding: 3px; border: 1px solid #AAA; margin: 0 3px 0 0; }
form.pmpro_form textarea {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
form.pmpro_form select {margin: 2px 0 0 0 ;}
form.pmpro_form .lite {color: #666; }
form.pmpro_form .leftmar {margin: 8px 0 0 130px; }

form.pmpro_form .pmpro_captcha {margin: 0 0 0 130px !important; }
form.pmpro_form .pmpro_captcha div {clear: none; margin: 0; }

/*--------------------------------------------------
	Messages - Success, Error, Alert
----------------------------------------------------*/
.pmpro_message {background-color: #D5E4F7; background-image: url(../images/icon_information.gif); background-position: 3px 5px; background-repeat: no-repeat; margin: .5em 0; padding: 6px 6px 6px 25px; color: #345395; font-size: 11px; font-weight: bold; line-height: 1.3em; }

.pmpro_success {background-color: #CFEECA; background-image: url(../images/icon_success.gif); color: #208A1B; }
.pmpro_error {background-color: #F9D6CB; background-image: url(../images/icon_error.gif); color: #E36154; }
.pmpro_alert {background-color: #FFF6CC; background-image: url(../images/icon_alert.gif); color: #CF8516; }

.pmpro_message a {color: #345395; }
.pmpro_success a {color: #208A1B; }
.pmpro_error a {color: #E36154; }
.pmpro_alert a {color: #CF8516; }

/*---------------------------------------
	Membership Checkout
---------------------------------------*/
.pmpro_checkout thead th {font-weight: bold; color: #444; padding: 10px; }
.pmpro_checkout tbody td {padding: 10px; }
.pmpro_checkout tr.odd td {background: #FAFAFA; }
.pmpro_checkout tr.selected td {background: #FFC; }
.pmpro_checkout tr.active td {background: #FFC; }
.pmpro_checkout .name {font-weight: bold; }
.pmpro_checkout ul {margin: 5px 0 0 20px; padding: 0; font-size: .8em; color: #444; }

.pmpro_checkout tfoot td {padding: 10px; color: #444; }
.pmpro_checkout .topfoot td {border-top: 2px solid #CCC;}
.pmpro_checkout .total td {border-top: 1px solid #CCC; font-size: 1.2em; font-weight: bold; padding-bottom: 30px;}
.pmpro_checkout tfoot .entercode td {background: #EEE; }

.pmpro_checkout td.rtbdr {border-right: 1px solid #CCC; }

.pmpro_checkout select {font-size: 11px; }

.pmpro_thead-msg {display: block; float: right; width: auto; font-style: italic; font-weight: normal; text-align: right; }

.pmpro_ordersummary {float: right; }

#pmpro_license { background: #FFF; padding: 5px; border: 1px solid #CCC; height: 200px; margin: 3px; color: #666; overflow: auto; }

.pmpro_sslseal {float: right; clear: none !important; margin: 0 !important; }

/*---------------------------------------
	Membership Invoice
---------------------------------------*/
.pmpro_invoice { }


/*---------------------------------------
	Membership Account
---------------------------------------*/
.pmpro_left {float: left; width: 49%; }
.pmpro_right {float: right; width: 49%; }

.pmpro_box {border: 1px solid #CCC; padding: 1em; margin: 0 0 1em 0; }
.pmpro_box h3 {border:none; background: none; border-bottom: 1px solid #CCC; padding: 0 0 .5em 0; margin: 0 0 .5em 0;  }

.pmpro_hidden {display: none;}
li.pmpro_more {list-style-type: none; text-align: center; margin-left: -20px; padding-left: 0;}


/*---------------------------------------
	Misc
---------------------------------------*/
.pmpro_a-right {float: right; width: auto; text-align: right; text-decoration: underline; font-size: 11px; }
.pmpro_a-print {float: right; width: auto; text-decoration: none; color: #345395; background: url(../images/printer.gif) top left no-repeat; padding: 0px 0px 2px 20px; font-size: 11px; line-height: 16px; cursor: pointer; } 

.pmpro_red {color: #CC0000; }
.pmpro_grey {color: #999; }

.top1em {margin-top: 1em;}
.bot1em {margin-bottom: 1em;}
.bot0em {margin-bottom: 0em;}
.clear {clear: both; }

.pmpro_small {font-size: .8em;}