.pmpro-login-or-separator {
display: block;
text-align: center;
position: relative;
margin: 10px auto;
width: 100%;
}

.pmpro-login-or-separator:before {
content: "or";
background-color: #fff;
font-size: 13px;
color: #9b9b9b;
display: inline-block;
width: 62px;
position: relative;
z-index: 1;
}

.pmpro-login-or-separator:after {
content: "";
width: 100%;
position: absolute;
left: 0;
top: 50%;
height: 1px;
margin-top: -0.5px;
background-color: #d8d8d8;
}

#loginform #wp-submit{
width: 100%;
padding:5px;
display: block;
text-align: center;
clear: both;
float: none !important;
}

#loginform p.submit{
top:5px;
position:relative;
}

#pmpro-email-login-button{
width:100%;
max-height:40px;
padding:0px;
}

#pmpro_email_login_confirmation{
margin-bottom:0px;
}