/**
 * Generate the Membership Required block styles to be applied in the block editor.
 */
[class*="wp-block-pmpro-membership"] span.pmpro-block-title {
	border-bottom: 5px solid #F5F8FA;
}
.wp-block-pmpro-membership .block-editor-inner-blocks {
	margin: 8px;
}

.pmpro-block-require-membership-element__set-hide-button.is-secondary,
.pmpro-block-require-membership-element__set-show-button.is-secondary {
	box-shadow: inset 0 0 0 1px #777;
	color: #777;
}
